# Used to uniquely identify your Docker project
PROJECT_NAME=perseid-mysql-express-react

# Which network interface should expose project ports
HOST_IP=127.0.0.1

# Examples ports
BACKEND_PORT=5070
FRONTEND_PORT=5080
DATABASE_PORT=3306

# CIDR to use to create your app docker network
DOCKER_SUBNET=172.72.62.0/24