.link {
  cursor: pointer;

  &,
  &:visited {
    color: initial;
    text-decoration: underline;
  }

  &:hover {
    color: red;
  }

  &--large {
    @include resp(m) {
      font-size: 2em;
    }
  }
}
